/* TODO: minify */
html {
  font-size: 14px;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}
html,
body,
#__nuxt,
#__layout {
  min-width: 1200px;
  min-height: 100%;
}
